{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<style>

.circle:hover {
    background-color: #d6b5817a;
}



</style>

<div class="container text-center main">
    <div class="col-12">

    <div class="row service-row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8" id="lostService">
                        <a href="/Lost"><h1 class="fas fa-sad-tear service-featured-logo"></h1></a>
                        <h2 class="service-name">Lost People</h2>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4 class="other-msg">Other Services:</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 service circle" id="medicalService">
                        <a href="/MedicalServices"><h1 class="glyphicon glyphicon-plus service-logo"></h1></a>
                        <h3 class="service-name">Medical Service</h2>
                    </div>
                    <div class="col-sm-3 service circle" id="whereIam">
                        <a><h1 class="fas fa-map-marker service-logo"></h1></a>
                        <h3 class="service-name">Where am I?</h2>
                    </div>
                    <div class="col-sm-3 service circle" id="hajjGuide">
                        <a><h1 class="fas fa-book service-logo"></h1></a>
                        <h3 class="service-name">Hajj Guide</h3>
                    </div>
                    <div class="col-sm-3 service circle" id="busParking">
                        <a><h1 class="fas fa-bus service-logo"></h1></a>
                        <h3 class="service-name">Bus Parkings</h3>
                </div>
        </div>
</div>
</div>

{% endblock %}
