body, html {
    height: 100%;
    font-family: 'Cairo', sans-serif;
    background-color: #130f05;
}

h1,h2,h3,h4,p,a {
    color: #e3e4c2;
}

.bg {
    background-color: url("img/makkah-n-e2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #11111196;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.4s;
}
.sidenav a {
    margin-top: .3em;
    padding: 10px 13px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.4s;
    direction: rtl;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 75px;
    font-size: 36px;
    margin-left: 25px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#menuIcon {
    direction: rtl;
    font-size: 3em;
    margin-right: .3em;
    right: 10px;
    top: 15px;
    position: fixed;
    display: flex;
    cursor: pointer;
}

.lng-title img {
    padding: 2px 2px 2px 2px;
}

.main {
    margin: auto;

}

.service {
    color: #e3e4c2;
}

.service-row {
    margin-bottom: 3em;
    margin-top: 3em;
}

.service a {
    color: #e3e4c2;
}

.service a:hover {
    color: #7a713d;
}

.service-logo {
    font-size: 3em;
}

.logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.lng-title img {
    padding: 2px 2px 2px 2px;
    float: right;
}

.hide-element {
  display: none;
}

#map {
    height: 434px;
    margin: 2em;
  }

a:hover {
    text-decoration: none;
    color: #3399cc;
}

.service-featured-logo {
    font-size: 8em;
}

.lost-img img {
    margin: 0.5em;
    display: inline-block;
}

#id_Photo{
    margin: 1em auto;
}

#id_Name {
    margin:1.2em;
}